useDynLib(exactRankTests)
import(utils)
import(stats)

exportPattern("\\.exact$")
exportPattern("\\.exact.default$")
exportPattern("\\.exact.formula$")

export(dperm, qperm, pperm, rperm, perm.test, perm.test.default,
perm.test.formula, cscores, cscores.default, cscores.factor, 
cscores.Surv, irank)

