useDynLib(exactRankTests)

exportPattern("\\.exact$")
exportPattern("\\.exact.default$")
exportPattern("\\.exact.formula$")

export(dperm, qperm, pperm, rperm, perm.test, perm.test.default,
perm.test.formula, cscores, cscores.default, cscores.factor, 
cscores.Surv, irank)

# There will be no package `ctest' in R-1.9.0
# import(ctest)
#